.blog{
  padding-bottom: 185px;
  position: relative;
  .backgroundLeftImg{
    position: absolute;
    left: 20px;
    top: -35px;
  }
  .backgroundRightImg{
    position: absolute;
    right: 0;
    top: -100px;
  }
  .container{
    .row{
      .col-md-8{
        padding: 0 20px;
        h2{
          text-align: center;
          color: #56597A;
          font-size: 44px;
          font-weight: 800;
          margin-bottom: 26px;
          word-spacing: 8px;
          letter-spacing: 2px;
        }
        p{
          text-align: center;
          font-size: 17px;
          color: #919299;
          letter-spacing: 1px;
          word-spacing: 3px;
          line-height: 32px;
          margin-bottom: 40px;
        }
        .input-group{
          padding: 13px 20px;
          box-sizing: border-box;
          background-color: #fff;
          border-radius: 4px;
          display: flex;
          justify-content: space-between;
          box-shadow: 4px 19px 28px rgba(222, 216, 216, 0.4);
          input{
            border: none;
            width: 73%;
            background-image: url("../images1/Vector (10).svg");
            background-repeat: no-repeat;
            background-position: left center;
            &:focus{
             outline: none;
            }
          }
          input::placeholder{
            padding-left: 35px;
            font-size: 20px;
          }
          .learnButton{
            display: flex;
            align-items: center;
            padding:12px 28px;
            background-color:#F78CB6;
            border: none;
            color: #fff;
            border-radius: 3px;
            letter-spacing: 1px;
            &:hover{
              .buttonIcon{
                .arrow{
                  img{
                    transform: translate(-3px, -3px);
                  }
                }
              }
            }
            .buttonIcon{
              width: 21px;
              height: 21px;
              border: 1px solid #FFC1DA;
              background-color: transparent;
              margin-left: 22px;
              .arrow{
                width: 23px;
                height: 7px;
                img{
                  width: 100%;
                  height: 100%;
                  transform: translate(-10px , -3px);
                  transition-property: all;
                  transition-duration: 0.3s;
                  transition-timing-function: linear;
                }
              }
            }
          }
        }
      }
    }
  }
}