.bottomFooter{
  padding: 15px 0;
  background-color: #F78CB6;
  .container{
    .row{
      .col-md-12{
        display: flex;
        justify-content: space-between;
        .footerLeft{
          display: flex;
          align-items: center;
          color: #fff;
          img{
            margin-right: 15px;
          }
        }
        .footerRight{
          display: flex;
          align-items: center;
          img{
            margin-right: 12px;
          }
          select{
            border: none;
            background-color: transparent;
            color: #fff;
            option{
              background-color: #F78CB6;
            }
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
  }
}