.companys{
  padding-bottom: 180px;
  .container{
    .row{
      .col-md-12{
        .companysGroup{
          display: flex;
          align-items: center;
          .companysItem{
            margin-right: 80px;
            width: 20%;
            img{

            }
          }
          .companysItem:last-child{
            margin-right: 0;
          }
          .companysItem:nth-child(3){
           margin-left: 35px;
          }
        }
      }
    }
  }
}