
.footer{
  background-image:  url("../images1/Vector 4.png");
  background-size: 103%;
  background-position: 0 50px;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  .backgroundTop{
    background-image: url("../images1/Vector 5.png");
    padding-top: 80px;
    .container{
      .row{
        .col-md-3{
          a{
            font-family: sans-serif;
            letter-spacing: 0.7px;
            text-decoration: none;
            font-size: 15.7px;
            color: #919299;
            display: block;
          }
        }
        .col-md-3:first-child{
          .logotip{
            margin-bottom: 40px;
          }
          a:nth-child(2){
            letter-spacing: 1.3px;
            word-spacing: 3px;
          }
          a:nth-child(3){
            letter-spacing: 1.3px;
            word-spacing: 3px;
            white-space: nowrap;
            margin-bottom: 50px;
          }
          .connectionIcons{
            p{
              font-size: 20px;
              font-weight: 750;
              color: #919299;
              margin-bottom: 20px;
            }
            .iconsGroup{
              display: flex;
              .iconsGroupItem:first-child, .iconsGroupItem:nth-child(2),  .iconsGroupItem:nth-child(3),  .iconsGroupItem:nth-child(4){
                background-color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 4.5px;
                .iconsContent{
                  width: 24px;
                  height: 24px;
                  mask-size: 100%;
                  mask-repeat: no-repeat;
                }
                &:hover{
                  .iconsContent{
                  }
                }
              }
              .iconsGroupItem:first-child{
                .iconsContent{
                  mask-image: url("../images1/instagram.svg");
                  background-color: #A7A7A7;
                }
                &:hover{
                  .iconsContent{
                    background-color: #F78CB6;
                  }
                }
              }
              .iconsGroupItem:nth-child(2){
                .iconsContent{
                  mask-image: url("../images1/Vector (11).svg");
                  background-color: #A7A7A7;
                }
                &:hover{
                  .iconsContent{
                    background-color: #F78CB6;
                  }
                }
              }
              .iconsGroupItem:nth-child(3){
                .iconsContent{
                  width: 25px;
                  height: 25px;
                  mask-image: url("../images1/Group (1).svg");
                  mask-size: 100%;
                  background-color: #A7A7A7;
                }
                &:hover{
                  .iconsContent{
                    background-color: #F78CB6;
                  }
                }
              }
              .iconsGroupItem:nth-child(4){
                .iconsContent{
                  height: 22px;
                  width: 22px;
                  mask-image: url("../images1/Vector (12).svg");
                  mask-size: 100%;
                  background-color: #A7A7A7;
                }
                &:hover{
                  .iconsContent{
                    background-color: #F78CB6;
                  }
                }
              }
            }
          }
        }
        .col-md-3:nth-child(2), .col-md-3:nth-child(3), .col-md-3:nth-child(4){
          padding-left: 165px;
          box-sizing: border-box;
          h6{
            color: #56597A;
            font-size: 20.8px;
            font-weight: 700;
            margin-bottom: 33px;
          }
          a{
            margin-bottom: 31px;
          }
        }
      ;
      }
    }
  }
}