$textColor:#919299;
.services{
  padding-bottom: 230px;
  .container{
    .row:first-child{
      h5{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: #F78CB6;
        margin-bottom: 22px;
        letter-spacing: 1px;
      }
      h2{
        text-align: center;
        color: #56597A;
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 47px;
      }
    }
    .row:nth-child(2){
      .col-md-3{
        .card{
          border: 1px solid #FFF1F9;
          border-radius: 7px;
          background-color: #FFF1F9;
          transition: all 0.4s;
          &:hover{
            cursor: pointer;
            background-color: #F78CB6;
            .card-body{
              .title{
                color: #fff;
              }
              p{
                color: #fff;
              }
              .learnFlex{
               display: block;
              }
            }
          }
          .cardImg{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 53px;
            box-sizing: border-box;
            .mask-image{
              width: 55px;
              height: 55px;
            }
          }
          .card-body{
            .title{
              text-align: center;
              font-size: 30px;
              color: #56597A;
              font-weight: 600;
              margin-bottom: 15px;
            }
            p{
              text-align: center;
              color: $textColor;
            }
            .learnFlex{
              display: none;
              .learnFlexContent{
                display: flex;
                justify-content: center;
                .learn{
                  display: flex;
                  font-size: 18px;
                  color: #fff;
                  font-family: myProxy sans-serif;
                  img{
                    margin-left: 7px;
                    margin-top: 2px;
                  }
                }
              }
            }
          }
        }
      }
      .col-md-3:first-child{
        .card{
          .mask-image{
            background-size: 100%;
            background-repeat: no-repeat;
            mask-size: 100%;
            mask-repeat: no-repeat;
          }
          .mask-image{
            background-image: url("../images1/Vector (6).svg");
          }
          &:hover{
            .mask-image{
              mask-image: url("../images1/Vector (6).svg");
              background-color: #fff;
              background-image: none;
            }
          }
        }
      }
      .col-md-3:nth-child(2){
        .card{
          .mask-image{
            background-size: 100%;
            background-repeat: no-repeat;
            mask-size: 100%;
            mask-repeat: no-repeat;
          }
          .mask-image{
            background-image: url("../images1/3d 1.svg");
          }
          &:hover{
            .mask-image{
              mask-image: url("../images1/3d 1.svg");
              background-color: #fff;
              background-image: none;
            }
          }
        }
      }
      .col-md-3:nth-child(3){
        .card{
          .mask-image{
            background-size: 100%;
            background-repeat: no-repeat;
            mask-size: 100%;
            mask-repeat: no-repeat;
          }
          .mask-image{
            mask-image: url("../images1/Vector (8).svg");
            background-color: #F78CB6;
            background-image: none;
          }
          &:hover{
            .mask-image{
              background-image: url("../images1/Vector (8).svg");
            }
          }
        }
      }
      .col-md-3:nth-child(4){
        .card{
          .mask-image{
            background-size: 100%;
            background-repeat: no-repeat;
            mask-size: 100%;
            mask-repeat: no-repeat;
          }
          .mask-image{
            background-image: url("../images1/Vector (9).svg");
          }
          &:hover{
            .mask-image{
              mask-image: url("../images1/Vector (9).svg");
              background-color: #fff;
              background-image: none;
            }
          }
        }
      }
    }
  }
}